body, html {
    height: 100%;
}

/* Nav bar settings */
#navbarSupportedContent {
    padding: 10px;
}

.navbar-brand {
    padding: 5px;
    margin-right: 8px;
    line-height: 35px;
    font-size: 25px;
}


/* Background for main page*/
.bg {
    /* The image used *//*
    background-image: url("https://images.unsplash.com/photo-1506816561089-5cc37b3aa9b0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1575&q=80");*/

    background-image: url("https://images.unsplash.com/photo-1506816561089-5cc37b3aa9b0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1575&q=80");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*Body text for main page*/
.maindiv {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.content {
position: relative;
color:white;
border-style: solid;
}

