{% extends "layout.html" %}

{% block title %}
    Profile
{% endblock %}

{% block main %}
    <table class="table table-bordered" id="profile-table">
        <thead>
            <tr>
                <th class="text-middle">Add Cash</th>
                <th class="text-middle">Change Password</th>
                <th class="text-middle" id="status">Overall Performance: </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-middle">
                    Seed Money: {{money}}
                    <form action="/account" method="post">
                        <input id = "cash" autocomplete="off" autofocus class="form-control mx-auto w-auto" name="cash" min="0" placeholder="Cash" type="number">
                        <button class="btn btn-primary" type="submit">Add</button>
                    </form>
                </td>
                <td class="text-middle">
                    <form action="/account" method="post">
                        <div class="mb-3">
                            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="oldpassword" placeholder="Old Password" type="password">
                        </div>
                        <div class="mb-3">
                            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="password" placeholder="New Password" type="password">
                        </div>
                        <div class="mb-3">
                            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="confirmation" placeholder="Confirm password" type="password">
                        </div>
                        <button class="btn btn-primary" type="submit">Change</button>
                    </form>
                </td>
                <th class="text-middle">
                    <p>Seed money: {{money}}</p>
                    <p>Total valuation: {{total}}</p>
                    <p>Percent Change: {{change}}</p>
                </th>
            </tr>
        </tbody>
    </table>

    <script>

        // Helper function that parses the TOTAL column into a double of just the percent change
        function parsePercent(number){
            let i = 0, found = false;
            while(!found){
                found = number[i] == " ";
                i++;
            }

            number = number.substr(i+1);

            i = 0, found = false;
            while(!found){
                found = number[i] == ".";
                i++;
            }

            return parseFloat(number.substring(0,i+2));
        }

        // Changes the color of the row of the table depending on whether it is at a profit or not
        let entries = document.querySelectorAll("#end")
        for(let i = 0; i < entries.length; i++){
            entry = entries[i];

            if (parsePercent(entry.innerHTML) > 0){
                entry.parentNode.style.background = "#90EE90";
            }
            else if (parsePercent(entry.innerHTML) < 0){
                entry.parentNode.style.background = "#FFCCCB";
            }
        }


        let inputs = document.querySelectorAll(".index-row-input");
        for (let i = 0; i < inputs.length; i++){
            input = inputs[i];

            input.addEventListener("input", function(){
                console.log(this.value);
                if(this.value < 0){
                    this.parentNode.action = "/sell";
                }
                else{
                    this.parentNode.action = "/buy";
                }
            })
        }

        function submitForm(event){
            if(event.srcElement.shares.value < 0){
                event.srcElement.shares.value = -1*event.srcElement.shares.value;
            }
        }

    </script>
{% endblock %}
