{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <form action="/register" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Password (again)" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Log In</button>
    </form>

    <script>
        function check () {
          // (B1) INIT
          var error = "", field = "";

          // (B2) NAME
          field = document.getElementById("fname");
          if (!field.checkValidity()) {
            error += "Name must be 2-4 characters\r\n";
          }

          // (B3) NUMBER
          field = document.getElementById("fnumber");
          if (!field.checkValidity()) {
            error += "Num must be between 1-12\r\n";
          }

          // (B4) RESULT
          if (error=="") { return true; }
          else {
            alert(error);
            return false;
          }
        }
    </script>
{% endblock %}
